<div class="wrapper">
    <h4 class="text">{{title}}</h4>

    <div class="error" style="color: red; font-weight: bold;" *ngIf="error">Error: {{ this.error }}</div>


    <table class="table">     
        <tr>
            <td>
                    <label class="td-text" for="from">Currency I Have:</label>
                <select class="form-control" id="fromCurrency" [(ngModel)]="fromCurrency" (ngModelChange)="calculate(false, false)">
                    <option *ngFor="let quote of quotes" [value]="quote.id">{{ quote.id }}</option>
                </select>
            </td>
            <td>
                    <label class="td-text" for="to">Currency I Want: </label>
                <select class="form-control" id="toCurrency" [(ngModel)]="toCurrency " (ngModelChange)="calculate(true)">
                    <option *ngFor="let quote of quotes" [value]="quote.id">{{ quote.id }}</option>
                </select>
            </td>
        </tr>      
        <tr>

            <td>
                    <label for="from">Amount:</label>
                <input class="form-control" id="from-amount" type="number" [(ngModel)]="fromAmount" (ngModelChange)='calculate(false)'>
            </td>
            <td>
                    <label for="to">Converted Amount: </label>
                <input class="form-control" id="to-amount" type="text" [(ngModel)]="toAmount" (ngModelChange)="calculate(true)" disabled>
            </td>

        </tr>
        <tr>
            <td></td>            
            <td class="ang-date">
                    <label for="date">Date:</label>
                <mat-form-field>
                    <input matInput class="inputdate" [matDatepicker]="picker" [(ngModel)]="planModel.start_time" placeholder="Choose date" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
    </table>
    {{arr | json}}
    
</div>